{% extends "layout.html" %}
{% block title %}Delete Users{% endblock %}
{% block styleHeaders %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}
{% block content %}
{% if users %}
<form action="" method="POST" name="users_list">
    <table class="table table-hover" id="cssTable">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">User Name and Surname</th>
        </tr>
        </thead>

        {% for user in users %}
        <tbody>
        <tr>
            <td>
                <input type="checkbox" name="user_keys" value="{{ user['User_ID'] }}"/>
            </label>
            </td>
            <td>{{ user['Username'] }}</td>
            <td>{{ user['Name_Surname'] }}</td>
        </tr>
        </tbody>
    {% endfor %}

    </table>


  <div class="field is-grouped">
    <div class="control">
        <button class="btn btn-warning">Delete User(s)</button>
    </div>
  </div>

</form>
{% else %}
    <div class="alert alert-danger">
        <strong> Sorry!</strong> There is no User in the system.
    </div>
{% endif %}
{% endblock %}