<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"/>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='mymovies.css') }}"/>
          {% block styleHeaders %}{% endblock %}
  </head>

  <body>
    <header>
      <div class="topnav">

        <div class="topnav-left">
          <a class="active" href="{{ url_for('home_page') }}"><b>Home Page</b></a>
        </div>

        <div class="topnav-centered">
          <a href="#" class="inactiveLink">Read and Eat</a>
        </div>

        <div class="topnav-right">
          
          {% if not 'user_id' in session %}
            <a class="login" href="{{ url_for('login_page') }}"><b>Login</b></a>
          {% else %}

            {% if session['user_type'] == 'admin' %}

              <a class = "other_buttons" href="{{ url_for('new_restaurant_page') }}">Add Restaurant </a>
              <a class = "other_buttons" href="{{ url_for('delete_restaurant_page') }}">Delete Restaurant</a>
              <a class = "other_buttons" href="{{ url_for('delete_users') }}">Delete Users</a>

            {% else %}
              {% if session['user_type'] == 'owner' %}
                <a class = "other_buttons" href="{{ url_for('restaurant_detail_owner') }}">Restaurant Details</a>
                <a class = "other_buttons" href="{{ url_for('edit_foods_page') }}">Edit Foods</a>

                <a class = "other_buttons" href="{{ url_for('add_food_page') }}">Add Food</a>
              {% else %}
                <a class = "other_buttons" href="{{ url_for('restaurants_page') }}">Restaurants</a>
                <a class = "other_buttons" href="{{ url_for('about_page') }}">Profile</a>
              {% endif %}
    
            {% endif %}
            <a class="login" href="{{ url_for('logout_page') }}"><b>Log Out</b></a>

          {% endif %}
        </div>
        
      </div>
    </header>
    <main>
      <section class="section">
        <div class="content">
          {% block content %}{% endblock %}
        </div>
      </section>
    </main>

    <footer class="footer">
      <div class="content">
        <small>&copy; 2021, Tevfik Ozgu</small>
        <br>
        <small> Istanbul Technical University(ITU)</small>
      </div>
    </footer>
  </body>

</html>