{% extends "layout.html" %}
{% block title %}Update Password{% endblock %}

{% block content %}

<form action="" method="POST" class="form">

    {% if error %}
        <div class="error">
            {{ error }}
        </div>
    {% endif %}

    <ul>
        <li>
            <label for="Old_Password">Old Password</label>
            <input type="password" id="Old_Password" name="Old_Password" value="">
        </li>

        <li>
            <label for="New_Password">New Password</label>
            <input type="password" id="New_Password" name="New_Password" value="">
        </li>

        <li>
            <label for="New_Password_Again">New Password(again)</label>
            <input type="password" id="New_Password_Again" name="New_Password_Again" value="">
        </li>
        
        <li>
            <button type="submit">Update Password</button>
        </li>
    </ul>
</form>
{% endblock %}